* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
  height: 100%;
}

li {
  list-style: none;
}

.container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  background: #2f7d2b;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 1px solid transparent;
}

a.active {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.menu a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin-right: 15px;
  cursor: pointer;
}

.main {
  margin-top: 20px;
  padding-top: 20px;
}

.footer {
  padding: 20px;
  background: #2f7d2b;
  margin-top: auto;
  color: white;
  font-size: 10px;
}

