* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  width: 100%;
}

#root {
  height: 100%;
}

li {
  list-style: none;
}

.container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  background: #ffffff;
  border-bottom: 2px solid black;
  padding: 0px 10px 0px 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 1px solid transparent;
}

a.active {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.menu a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.menu a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin-right: 15px;
  cursor: pointer;
}

.logo {
  width: 100px;
}
.logo a{
  width: 300px;
  border: none;
}

.logo a:hover {
  border: none;
 }

.logo img{
 width: 20%;
}

.main {
  margin-top: 20px;
  padding-top: 20px;
}

.footer {
  padding: 20px;
  background: #ffffff;
  margin-top: auto;
  color: rgb(0, 0, 0);
  font-size: 10px;
  border-top: 2px solid black;
}

.login {
  padding: 10px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.login-page {
  width: 300px;
  margin: 0 auto;
}

form {
  width: 300px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid black
}

.label-main {
  margin-bottom: 20px;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.btn-login {
  width: 80px;
  padding: 10px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.services {
  position: relative;
  z-index: 100;
}

.services:hover {
  .drop-menu {
    display: block;
  }
}

.drop-menu {
  position: absolute;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 30px;
  left: 0;
  width: 100px;
  padding-top: 30px;
  display: none;
}

.drop-menu__items {
  background: black;
  padding: 10px;
  color: white;
}

.drop-menu__item {
  height: 25px;
  padding: 5px;
}

.drop-menu__item:hover {
  border: 1px solid white;
}

