* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  width: 100%;
}

#root {
  height: 100%;
}

li {
  list-style: none;
}

.container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header {
  background: #ffffff;
  border-bottom: 2px solid black;
  padding: 0px 10px 0px 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 1px solid transparent;
}

a.active {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.menu a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.menu a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin-right: 15px;
  cursor: pointer;
}

.logo {
  width: 100px;
}
.logo a{
  width: 300px;
  border: none;
}

.logo a:hover {
  border: none;
 }

.logo img{
 width: 20%;
}

.login {
  padding: 10px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.login:hover {
  background: black;
  color: white;
  transform: scale(1.1);
  transition: 1s;
}

.login-page {
  padding-top: 20px;
}

.decoration__info {
  width: 400px;
  height: 80px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.line {
  width: 320px;
  height: 100px;
  border-right: 2px solid rgb(0, 0, 0);
  top: 20px;
}

.block-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 300px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid black
}

.label-main {
  margin-bottom: 20px;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

input:focus {
  background: black;
  color: white;
}

.btn-login {
  width: 80px;
  padding: 10px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-login:hover {
  background: black;
  color: white;
  transform: scale(1.1);
  transition: 1s;
}

.services {
  position: relative;
  display: block;
  padding: 10px;
  border: 1px solid transparent;
}

.services:hover {
  border-bottom: 1px solid black;
  .drop-menu {
    display: block;
  }
}

.drop-menu {
  position: absolute;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 30px;
  left: -10px;
  width: 100px;
  padding-top: 30px;
  background: none;
  display: none;
  z-index: 100;
}

.drop-menu__items  {
  background: black;
  padding: 7px 10px 10px ;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.drop-menu__item a {
  height: 25px;
  padding: 2px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: box-shadow 0.3s;
}

.drop-menu__item a:hover {
  box-shadow: 0 0 0 1px white;
}

.dop-info {
  font-size: 12px;
  margin-right: 50px;
}
.transfers:hover {
  border-bottom: 1px solid black;
  .transfers-menu__items {
    display: block;
  }
}
.transfers-menu{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: -25px;
  left: 0px;
  width: 250px;
  padding-top: 30px;
  background: none;
  z-index: 100;
}

.transfers-menu__items  {
  background: black;
  padding: 7px 5px 10px ;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  display: none;
}

.transfers-menu__item a {
  color: white !important; 
  height: 25px;
  width: 140px;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  box-sizing: border-box;
  transition: box-shadow 0.3s;
}

.transfers-menu__item a:hover {
  box-shadow: 0 0 0 1px white;
}

.home {
  height: 100%;
  position: relative;
}
.main {
  padding: 0;
  height: 100%;
}

.main-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-menu {
  border-right: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.main-menu__items {
  width: 250px;
  height: 500px;
  background-color: white;
}

.main-menu__item {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.main-menu__item a {
  text-decoration: none;
  color: black;
}

.main-menu__item:hover {
  border-bottom: 1px solid black;
}

.decor {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items:flex-end;
  margin-top: 20px;
}
.decor-main {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 100px;
  width: 600px;

}

.decor-main img{
  width: 120px;
  
}

.decor__text {
  margin-right: 30px;

}
.decor__text-descr {
  width: 600px;
  display: flex;
  justify-content: end;
  font-size: 11px;
}

.img-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 500px;
}

.slider-btn {
  width: 35px;
  height: 35px;
  background: rgba(128, 125, 125, 0.5);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.prev {
  position: absolute;
  top: 40%;
  left: 1%;
}

.next {
  position: absolute;
  top: 40%;
  right: 1%;
}

.slider-imgs {
  width: 550px;
  height: 330px;
}

.cards {
  padding-top: 40px;
}

.cards__block {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__get-btn {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__get-btn a{
 color: black;
 text-decoration: none;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 17px;
}
.cards__get-btn a:hover{
  color: white;
 }

.cards__button-get {
  width: 200px;
  padding: 15px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  margin-top: 100px;
  z-index: 10;
}
.cards__button-get:hover {
  background: black;
  color: white;
  transform: scale(1.1);
  transition: 1s;
}

.card {
  width: 320px;
  height: 190px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

.card__block {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 10px;
}

.Premium {
  background: black;
  color: white;
}

.Gold {
  background: linear-gradient(0deg, rgba(235,218,132,0.9108018207282913) 48%, rgba(255,255,255,1) 100%);
}

.card__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 5px;
}

.card__number {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
  margin-top: 20px;
}

.card__money {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  margin-top: 30px;
}

.card-status {
  width: 800px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-status__title {
  width: 400px;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
}

.get-card {
  width: 200px;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  margin-top: 50px;
  z-index: 10;
}
.get-card:hover {
  transform: scale(1.1);
  transition: 1s;
}

.get-card a {
  text-decoration: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
}

.card__close {
  width: 150px;
  height: 20px;
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px;
  margin-top: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.card__close:hover{
  background: black;
  color: white;
  transform: scale(1.1);
  transition: 1s;
}

.card-status__decor {
  width: 10px;
  height: 300px;
  border-right: 2px solid black;
  position: absolute;
  top: 150px;
  left: 350px;
}

.cards__decor {
  width: 400px;
  height: 80px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.add-cards {
  width: 800px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-cards__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.add-cards__decor {
  width: 400px;
  height: 80px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 100px;
}
.choose-label {
  width: 400px;
  height: 30px;
  background: black;
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

select {
  width: 400px;
  height: 30px;
  color: white;
  border-radius: 5px; 
  background-color: #fff; 
  color: #000000; 
  outline: black; 
  cursor: pointer;
  border: none;
}

option {
  cursor: pointer;
}

select:focus {
  border-color: #000000;
  border: 2px solid black;
  background: black;
  color: white;
}

select::-ms-expand {
  display: none; 
}
select::-webkit-select {
  appearance: none;
}

select::-moz-select {
  appearance: none;
  text-indent: 0.01px; 
  text-overflow: "";
}

select::-webkit-select {
  appearance: none;
}

select::-webkit-scrollbar {
  width: 16px;
  background-color: #000000;
  border-radius: 10px;
}

select::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 8px;
}

select::-ms-expand {
  display: none;
}

.add-cards__btn {
  width: 400px;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  margin-top: 20px;
  z-index: 10;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-cards__btn a {
  text-decoration: none;
  color: black;
}
.add-cards__btn a:hover {
  color: rgb(255, 255, 255);
}

.add-cards__btn:hover {
  transform: scale(1.1);
  transition: 1s;
  background: black;
  color: white;
}

.card-transfer {
  width: 800px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-transfer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.card-transfer__choose {
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.card-transfer__choose p{
  text-align: center;
}

.transfer-select {
  margin-bottom: 20px;
}

.transfer-input {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.transfer-input:focus {
  color: white;
}

.transfers-cards__decor {
  width: 400px;
  height: 80px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 100px;
}

.transfer-cards__btn {
  width: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
  margin-top: 20px;
  z-index: 10;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.transfer-cards__btn:hover {
  transform: scale(1.1);
  transition: 1s;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.transfer-cards__btn a:hover {
  color: rgb(0, 0, 0);
}

.transfer-cards__btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.about {
  padding-top: 30px;
}

.about__main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.about__block {
  padding: 30px 0px 0px 50px;
  font-size: 14px;
}

.about__title {
  text-align: center;
  margin-right: 30px;
}

.about__logo {
  width: 10%;
}

.about-content__part-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.about-decor__part-two {
  text-align: center;
  width: 700px;
}

.about-decor__decor-one {
  width: 300px;
  height: 300px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-decor__decor-two {
  width: 400px;
  height: 80px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
}

.about-content__text-one {
  width: 400px;
  margin-right: 70px;
}

.about-content__text-two {
  width: 700px;
}

.contacts {
  padding-top: 30px;
  position: relative;
}

.contacts__main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.contacts__title {
  text-align: center;
  margin-right: 30px;
} 

.contacts__logo {
  width: 7%;
}

.contacts__block {
  padding: 30px 0px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.contacts__content {
  align-items: center;
  margin-bottom: 30px;
  width: 600px;
  margin-right: 100px;
}

.contacts__item{
  margin-bottom: 10px;
}

.contacts-decor__decor-one {
  width: 100px;
  height: 300px;
  border-left: 2px solid rgb(0, 0, 0);
  position: absolute;
  top: 0px;
  right: 100px;
}

.contacts-decor__decor-two {
  width: 400px;
  height: 300px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
} 

.contacts-decor__decor-three {
  width: 400px;
  height: 80px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 100px;
}

footer {
  padding: 20px;
  background: #ffffff;
  margin-top: auto;
  color: rgb(0, 0, 0);
  font-size: 10px;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer-info__img {
  width: 7%;
  margin-right: 20px;
}

.footer-info__number {
  font-size: 13px;
}

.footer-info__developed {
  width: 200px;
}